<div *ngIf="analiserService.noRequestsFound" class="emptyResponse">
    <span>Keine Einträge zum ausgewälten Zeitabstand</span>
</div>

<table>
    <thead>
        <tr>
            <th>Flughafen Code</th>
            <th>Letzter Zeitstempel <br>(vorher)</th>
            <th>Letzter Zeitstempel <br>(heute)</th>
            <th>Anfragen (vorher)</th>
            <th>Anfragen (heute)</th>
            <th>In-/Decrease %</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor=" let iataRequest of analiserService.requestAnaliser">
            <td *ngIf="iataRequest.iata">{{ iataRequest.iata }}</td>
            <td *ngIf="!iataRequest.iata">
                {{iataRequest.piata}}</td>
            <td>{{ getFormattedDate(iataRequest.ptimestamp)}}</td>

            <td>{{ getFormattedDate(iataRequest.timestamp)}}</td>
            <td>
                {{iataRequest.prequests}}</td>
            <td>
                {{ iataRequest.requests }}
            </td>
            <td [ngClass]="
            calculatePercentage(iataRequest) < -50&&iataRequest['prequests']-iataRequest['requests'] >50
            ? 'countUnder50' 
              : calculatePercentage(iataRequest) >= 50&&iataRequest['requests']-iataRequest['prequests'] >50
              ? 'countOver100'
              : '' ">
                {{calculatePercentage(iataRequest)}}%
            </td>
        </tr>

    </tbody>
</table>